#include "resource.h"
#include <windows.h>

// Main window menu
IDR_MAINMENU MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Exit", ID_FILE_EXIT
    END
END

// Tray context menu
IDR_TRAYMENU MENU
BEGIN
    POPUP "TrayPopup"
    BEGIN
        MENUITEM "Open", ID_TRAY_OPEN
        MENUITEM "Exit", ID_TRAY_EXIT
    END
END
